/* Resetando estilos padrões */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: url('https://github.com/Daiury/Christmas/raw/main/natal.gif') no-repeat center center fixed;
  background-size: cover;
  font-family: 'Arial', sans-serif;
  color: white;
  text-align: center;
  padding: 20px;
  line-height: 1.5;
}

.hidden {
  display: none;
}

img {
  max-width: 100%;
  height: auto;
}

.imagem-cartao {
  max-width: 15%; /* Ajustando a imagem do cartão para 15% */
  height: auto;
  margin: 20px 0;
}

.imagem-chocotone {
  max-width: 14%; /* Ajustando a imagem do chocotone para 14% */
  height: auto;
  margin: 20px 0;
}

button {
  background-color: #ff3366;
  color: white;
  padding: 10px 20px;
  font-size: 1.2em;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 20px;
}

button:hover {
  background-color: #e62e5b;
}

/* Caixa de texto com fundo transparente preto para as frases */
.frase p {
  background-color: rgba(0, 0, 0, 0.6); /* Fundo preto com 60% de transparência */
  color: white;
  padding: 15px;
  border-radius: 5px;
  font-size: 1.2em;
  margin: 20px 0;
  line-height: 1.5; /* Melhor espaçamento entre as linhas */
  white-space: pre-line; /* Garante que as quebras de linha no HTML apareçam */
}

/* Estilo do botão "Próximo" */
.proximo {
  background-color: #4CAF50;
  padding: 10px 20px;
  color: white;
  font-size: 1.1em;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.proximo:hover {
  background-color: #45a049;
}

/* Responsividade */
@media (max-width: 768px) {
  .frase p {
    font-size: 1em; /* Ajusta a fonte */
  }

  button {
    font-size: 1em;
    padding: 8px 15px;
  }
}
